<template>
    <q-card class="my-card card-rev">
        <q-card-section class="bg-primary text-white">
            <div class="text-h6">{{this.title}}</div>
            <div class="text-subtitle2">{{this.description}}</div>
        </q-card-section>
        <q-separator />
        <q-card-actions align="right">
            <!--<q-btn color="secondary" class="q-mr-sm">Revisar</q-btn>-->
            <a :href="this.href" target="_blank"><q-btn color="primary">Revisar</q-btn></a>
        </q-card-actions>
    </q-card>
</template>

<style scoped>
.card-rev {
    width: calc(100vw - 2rem);
    max-width: 48em;
    margin: 1rem;
}
</style>

<script>
export default {
  name: 'ReviewCard',
  data: () => ({
    colorRoll: ['#ad0000', '#272121', '#000272', '#17223b', '#00818a']
  }),
  props: {
    title: { default: 'Sem nome' },
    description: { default: 'Sem descrição'},
    href: { default: ""}
  },
};
</script>