<template>
  <div class="column flex-center">
    <div class="text-h4 text-white varela-round self-center">
      <q-icon name="img:statics/logo.svg" class="logo"/>
      Reeduca
    </div>
    <div class="divline q-my-md" />
    <div class="text-white varela-round">Popularizando o acesso à educação básica</div>
  </div>
</template>

<style scoped>
.divline {
  border-bottom: 1px solid white;
  width: 15em;
}

.logo {
  transform: scale(1.6) translate(-3px, -5px);
}
</style>

<script>
export default {
  name: 'Slogan'
};
</script>