<template>
  <div>
    <div class="column items-center">
      <canvas ref="radar" />
    </div>
    <hr />
    <div>
      <canvas ref="line" />
    </div>
  </div>
</template>

<script>
const Chart = require('chart.js');
let options = {
  scale: {
    angleLines: {
      display: false
    },
    ticks: {
      suggestedMin: 0,
      suggestedMax: 100
    }
  }
};

export default {
  mounted() {
    let radar = this.$refs.radar;
    let line = this.$refs.line;
    console.log(line);
    new Chart(radar, {
      type: 'radar',
      data: {
        labels: [
          'Matemática',
          'Ciências da Natureza',
          'Ciências Humanas',
          'Português e Linguagens'
        ],
        datasets: [
          {
            label: '% Estudado',
            data: [100, 67, 76, 49],
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
          }
        ]
      },
      options: options
    });
    //{"ticks":{"suggestedMin": 0, "suggestedMax": 100}, "elements":{"line":{"tension":0,"borderWidth":3}}}

    new Chart(line, {
      type: 'line',
      yAxisID: 'y',
      data: {
        labels: [
          '29/set',
          '06/out',
          '13/out',
          '20/out',
          '27/out',
          '03/nov',
          '10/nov'
        ],
        datasets: [
          {
            label: 'Simulados',
            data: [2, 3, 0, 3, 1, 1, 0],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            lineTension: 0.2
          },
          {
            label: 'Tópicos conluídos',
            data: [0, 0, 1, 0, 2, 1, 1],
            fill: false,
            borderColor: 'rgb(192, 75, 192)',
            lineTension: 0.2
          },
          {
            label: '',
            data: [5, 0, 1, 0, 3, 1, 1],
            fill: false,
            borderColor: 'rgba(192, 75, 192, 0)',
            lineTension: 0.1
          }
        ]
      }
    });
  }
};
</script>