<template>
  <q-page class="flex flex-center">
    <img src="../../assets/questions/ef_history_geography_1.png">
    <p>DINIZ, A. O índio e o europeu. Disponível em: http://rededosaber.sp.gov.br. Acesso em: 21 jul. 2017 (adaptado).
    <br><br>
    O diálogo faz referência a qual atividade econômica registrada pela história colonial do Brasil?</p>
  </q-page>
</template>

<script>
export default {
  name: 'ef_history_geography_1'
}
</script>
