<template>
  <q-page class="flex flex-center">
    <p>O quadro simula a evolução do saldo devedor (D) de uma dívida de R$ 120,00, que será paga em oito parcelas mensais fixas de R$ 15,00 cada. </p>
    <table>
        <tr>
            <th>Mês passado (m)</th>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
        </tr>
        <tr>
            <th>Valor da dívida (D) em real (R$)</th>
            <td>120,00</td>
            <td>105,00</td>
            <td>90,00</td>
            <td>75,00</td>
            <td>60,00</td>
            <td>45,00</td>
            <td>30,00</td>
            <td>15,00</td>
            <td>0,00</td>
        </tr>
    </table> 
    <p>Segundo os dados apresentados, a expressão que relaciona o saldo devedor (D) em função do número de meses (m) é</p>
  </q-page>
</template>

<script>
export default {
  name: 'ef_math_1'
}
</script>

<style>

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

</style>