<template>
  <q-page class="flex flex-center">
    Nas décadas de 1950 e 1960, houve grande disputa para a exploração do espaço, até, finalmente o homem aterrissar em solo lunar. Esse evento foi muito divulgado pela imprensa, havendo filmagens que mostram o astronauta Neil Armstrong caindo mais lentamente depois de um salto na superfície lunar, quando comparado ao mesmo evento na superfície da Terra.

    Na Lua, essa característica do movimento do astronauta ocorre porque
  </q-page>
</template>

<script>
export default {
  name: 'ef_natural_science_1'
}
</script>
