<template>
  <q-page class="flex flex-center">
      <h3>Erro de português</h3>
      <center>
      <p>Quando o português chegou</p>
      <p>Debaixo duma bruta chuva</p>
      <p>Vestiu o índio</p>
      <p>Que pena! Fosse uma manhã de sol</p>
      <p>O índio tinha despido</p>
      <p>O português</p>
      </center>
      <p>ANDRADE, O. Disponível em: www.releituras.com. Acesso em: 26 set. 2013.</p>
      <p>O episódio da chegada dos portugueses ao Brasil inspirou diversas leituras no período modernista. No poema de Oswald de Andrade, o encontro entre os dois povos é visto sob um foco</p>
  </q-page>
</template>

<script>
export default {
  name: 'ef_portuguese_1'
}
</script>
