<template>
  <q-page class="flex flex-center">
      <p>Uma família agrupa seu gasto mensal em dois referenciais: Gastos residenciais (custos para manter a casa) e Gastos extras (custos pessoais e com diversão e lazer). O gráfico ilustra o gasto mensal da família, em real, em quatro meses, segundo os referenciais citados.</p>
      <img src="../assets/questions/em_math_1.png">
      <p>Em qual dos meses apresentados a família gastou menos </p>
  </q-page>
</template>

<script>
export default {
  name: 'em_math_1'
}
</script>
