<template>
  <q-card
    class="card-size items-start z-0 q-pa-xs"
    :style="'background-color: ' + cardData.color"
    @click="$refs.fakebtn.$el.click()"
  >
    <div class="z-2 text-h6 text-white q-pt-sm q-pl-sm">{{ cardData.name }}</div>
    <q-icon :name="cardData.icon" class="z-1 fixed self-end subject-card-icon" />

    <q-btn flat dense :to="href" ref="fakebtn" class="no-display" />
  </q-card>
</template>

<style scoped>
.card-size {
  width: 15em;
  height: 8em;
}

.subject-card-icon {
  font-size: 5em;
  transform: rotate(-27deg) scale(0.9);
}

.no-display {
  display: none;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: -1;
  overflow: hidden;
  bottom: 0;
  right: 0;
  position: absolute;
  color: white;
}

.z-2 {
  z-index: 2;
}
</style>

<script>
export default {
  name: 'SubjectCard',
  data: () => ({
    colorRoll: ['#ad0000', '#272121', '#000272', '#17223b', '#00818a']
  }),
  props: {
    name: { default: 'Sem nome' },
    color: { default: '' },
    cardData: { default: () => ({}) },
    href: { default: '/404' },
    icon: { default: 'book' }
  },
  created() {
    if (this.cardData.name == undefined) this.cardData.name = this.name;
    if (this.cardData.color == undefined)
      this.cardData.color = this.colorRoll[
        Math.floor(Math.random() * this.colorRoll.length)
      ];
    if (this.cardData.icon == undefined) this.cardData.icon = this.icon;
  }
};
</script>