<template>
  <div class="q-px-lg q-pb-md q-mb-xl">
    <q-timeline :layout="layout" color="secondary">
      <q-timeline-entry heading>{{ subname }}</q-timeline-entry>
      <transition-group
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <q-timeline-entry
          v-for="(content,i) in contents"
          :key="content.index"
          :title="content.name"
          :side="i % 2 ? 'left':'right'"
          :color="content.done != undefined ? 'green':'blue'"
          :icon="content.done != undefined ? 'done_all':''"
        >
          <div class="q-mb-md">{{ content.about }}</div>
          <transition
            appear
            enter-active-class="animated fadeInLeft"
            leave-active-class="animated fadeOutRight"
          >
            <q-btn
              v-if="content.done == undefined"
              @click="make(content.index, true)"
              color="blue"
              label="Feito!"
            />
            <q-btn v-else @click="make(content.index, false)" color="red" label="Desfazer" />
          </transition>
          <a :href="`/statics/reference${content.src.slice(1)}`" target="_blank">
            <q-btn class="q-ml-md text-black">Estudar!</q-btn>
          </a>
        </q-timeline-entry>
      </transition-group>
    </q-timeline>
    <q-knob
      show-value
      class="text-light-blue stickyx border-primary q-mb-md q-mr-md shadow-1"
      v-model="completedPercentage"
      size="100px"
      color="light-blue"
      ref="calc"
      readonly
    >{{ completedPercentage }}%</q-knob>
  </div>
</template>

<style lang="stylus">
.stickyx {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
}
</style>

<script>
export default {
  methods: {
    addEntryRet: (obj, attrName, attr) => {
      obj[attrName] = attr;
      return obj;
    },
    make: function(key, val) {
      if (val) this.$store.state.meta.refData[this.keyname][key].done = true;
      else delete this.$store.state.meta.refData[this.keyname][key].done;
      //this.contents[key].done = true;
      this.$store.commit('meta/setLocalData');
      this.$forceUpdate();
      this.$refs.calc.$forceUpdate();
      this.completed += val ? 1 : -1;
    }
  },
  computed: {
    layout() {
      return this.$q.screen.lt.sm
        ? 'dense'
        : this.$q.screen.lt.md
        ? 'comfortable'
        : 'loose';
    },
    completedPercentage() {
      let total = this.contents.length;
      return Math.round((this.completed / total) * 100);
    }
  },
  data: el => ({
    subject: null,
    subname: el.$route.params.subject,
    keyname: el.$route.params.subject,
    contents: [],
    completed: 0
  }),
  beforeMount() {
    let data = this.$store.state.meta.refData;
    let p = data => {
      this.subject = data[this.subname];
      this.subject.self.inner.forEach(key => {
        this.contents.push(this.addEntryRet(this.subject[key], 'index', key));
      });
      this.subname = data[this.subname].self.name;
    };
    p(data);
    this.completed = this.contents.filter(p => p.done != undefined).length;
  }
};
</script>