
      <p>A Lei n. 11.340/2006 (Lei Maria da Penha) transforma o ordenamento jurídico brasileiro, expressa o necessário respeito aos direitos humanos das mulheres e tipifica as condutas criminosas. Além disso, essa lei modifica, significativamente, a conduta civil e penal em termos de investigação, procedimentos, apuração e solução para os casos de violência doméstica contra a mulher.</p>
      <p>Disponível em: www.observe.ufba.br. Acesso em: 21 ago. 2013 (adaptado).</p>
      <p>A referida lei constitui um instrumento para</p>

