
      <img src="/statics/questions/em_languages_1.png" style="max-width: 95vw;">
    <p>Levar água tratada até sua casa custa caro. Se 10% dos 3,2 milhões de casas conectadas à rede de água na cidade de São Paulo tiverem um vazamento da largura de um palito de dente, após 6 dias, elas perderão 6,2 bilhões de litros de água. Para fornecer essa água que é jogada fora, o governo gasta o dinheiro que poderia ser aplicado em outras áreas, como educação, por exemplo.</p>
    <p>Disponível em: http://planetasustentavel.abril.com.br. Acesso em: 1 set 2013 (adaptado).</p>
    <p>Esse texto publicitário faz parte de uma campanha realizada pelo Instituto Akatu para o Consumo Consciente. Pela mobilização de elementos verbais e não verbais, com finalidade persuasiva, a campanha espera que o leitor compreenda que</p>
