
      <p>Uma família agrupa seu gasto mensal em dois referenciais: Gastos residenciais (custos para manter a casa) e Gastos extras (custos pessoais e com diversão e lazer). O gráfico ilustra o gasto mensal da família, em real, em quatro meses, segundo os referenciais citados.</p>
      <img src="/statics/questions/em_math_1.png" style="max-width: 95vw;">
      <p>Em qual dos meses apresentados a família gastou menos </p>
