<p>Em construções, é comum os operários lançarem as telhas uns para os outros, de forma a transferi-las do solo para o alto do telhado. A figura ilustra essa situação. A linha tracejada representa a trajetória da telha. Desconsidere qualquer tipo de força de resistência do ar.</p>
<img src="/statics/questions/em_natural_science_1_1.png" style="max-width: 95vw;">
<p>Qual a direção e o sentido da força resultante sobre a telha a partir do momento em que é lançada?</p>

