<template>
  <div class="flex flex-center items-center justify-center window-height">
    <SubjectCard :card-data="CardData" />
  </div>
</template>

<script>
import SubjectCard from 'components/apostila/SubjectCard.vue';
export default {
  components: {
    SubjectCard
  },
  data: () => ({
    CardData: {
      name: 'Matemática',
      icon: 'bookmarks'
    }
  })
};
</script>