<template>
  <transition appear enter-active-class="animated flipInY" leave-active-class="animated flipOutY">
    <q-page class="column justify-center full-height bg-splash">
      <Slogan class="force-center" />
      <div class="row justify-center q-mt-xl items-end">
        <q-btn class="bg-white self-center" to="/app">Acessar</q-btn>
      </div>
    </q-page>
  </transition>
</template>

<style scoped>
.force-center {
  align-self: center;
}
</style>

<script>
import Slogan from 'components/presentation/Slogan.vue';
export default {
  name: 'PageIndex',
  components: {
    Slogan
  }
};
</script>
