// app global css in SCSS form
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
.varela-round {
	font-family: 'Varela Round', sans-serif;
}
.bg-splash {
	background: linear-gradient(rgba(2, 123, 227, 0.5), rgba(2, 123, 227, 0.5)), url('../statics/fundo.jpg');
	background-size: cover;
	background-position: center;
}
