<template>
  <div class="column items-center" v-html="renderThis"></div>
</template>

<script>
export default {
  props: {
    qname: {
      default: 'ef_history_geography_1'
    }
  },
  data: () => ({
    toRender: el => el
  }),
  computed: {
    renderThis: el => el.toRender
  },
  created() {
    fetch(`/statics/questions/${this.qname}.html`)
      .then(res => res.text())
      .then(res => {
        this.toRender = res;
        console.log(this.toRender);
      });
  }
};
</script>