<template>
  <div class="column container-apo">
    <div class="text-h6 text-center q-my-md">Ensino Fundamental</div>
    <transition-group
      appear
      enter-active-class="animated flipInY"
      leave-active-class="animated flipOutY"
      class="row items-center justify-around"
    >
      <SubjectCard
        class="card-org q-ma-xs"
        v-for="card in cards"
        :key="card.name"
        :cardData="card"
        :href="`/app/content/${card.href}`"
      />
    </transition-group>

    <div class="text-h6 text-center q-my-md">Ensino Médio</div>
    <transition-group
      appear
      enter-active-class="animated flipInY"
      leave-active-class="animated flipOutY"
      class="row items-center justify-around"
    >
      <SubjectCard
        class="card-org q-ma-xs"
        v-for="card in cards2"
        :key="card.name"
        :cardData="card"
        :href="`/app/content/${card.href}`"
      />
    </transition-group>
  </div>
</template>

<style scoped>
.card-org {
  max-width: calc(50vw - 1em);
}
.container-apo {
  min-height: calc(100vh - 98px);
  width: 100vw;
  background-color: whitesmoke;
}
</style>

<script>
import SubjectCard from 'components/apostila/SubjectCard.vue';
export default {
  components: {
    SubjectCard
  },
  data: () => ({
    cards: null,
    cards2: null,
    refEndpoint: '/statics/reference/reference.json'
  }),
  created() {
    fetch(this.refEndpoint)
      .then(res => res.json())
      .then(res => {
        let sects = res.self.sections[0].inner;
        let tempCards = [];
        sects.forEach(sect => {
          tempCards.push({
            name: res[sect].self.name,
            href: sect
            //,color: res[sect].self.color
          });
        });
        this.cards = tempCards;

        sects = res.self.sections[1].inner;
        let tempCards2 = [];
        sects.forEach(sect => {
          tempCards2.push({
            name: res[sect].self.name,
            href: sect
            //,color: res[sect].self.color
          });
        });
        this.cards2 = tempCards2;
      });
  }
};
</script>