<template>
    <div class="container-test">
        <div v-if="this.test" class="question">
            <h4 style="margin: 0">Questão {{this.questionCount + 1}}</h4>
            <div class="flex-center q-mb-md" id="QuestionBody"></div>
            <div class="test-radio q-mt-sm"><input type="radio" name="option" value="0" @click="enable()"><div id="Option0">A</div></div>
            <div class="test-radio q-mt-sm"><input type="radio" name="option" value="1" @click="enable()"><div id="Option1">A</div></div>
            <div class="test-radio q-mt-sm"><input type="radio" name="option" value="2" @click="enable()"><div id="Option2">A</div></div>
            <div class="test-radio q-mt-sm"><input type="radio" name="option" value="3" @click="enable()"><div id="Option3">A</div></div>
            <q-btn class="q-mt-md" @click="proxima()" disabled id="NextQuestion">Próxima</q-btn>
        </div>
        <div v-else>
            <q-card class="q-mt-md q-ml-sm qmr-sm">
                <div class="column q-ml-md q-mr-md">
                    <h5> Parabéns, você terminou o simulado. Sua pontuação foi:</h5>
                    <q-card-section>
                        <center>
                        <h1 style="color:#08a391;">{{this.correct}} / {{this.correct + this.wrong}}</h1>
                        </center>
                    </q-card-section>
                    <q-card-section>

                    </q-card-section>
                </div>
                    <div v-if="this.wrong > 0">
                    <h5 class="q-ml-md q-mr-md">Tópicos a revisar</h5>
                    </div>
                    <ReviewCard
                            v-for="card in toReview"
                            :key="card.topic"
                            :title="res[card.subject].self.name"
                            :description="res[card.subject][card.topic].name"
                            :href="`/statics/reference/${res[card.subject][card.topic].src}`"
                        />

                <q-separator />

                <q-card-actions vertical>
                    <a href="/#/app"><q-btn flat>Voltar</q-btn></a>
                </q-card-actions>
            </q-card>
        </div>
    </div>
</template>
<style>
.container-test {
    min-height: calc(100vh - 98px);
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.test-radio {
    display: flex;
    flex-direction: row;
}

input[type="radio"] {
  margin-top: 4px;
  margin-right: 8px;
  vertical-align: middle;
}

.question {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    max-width: calc(50rem - 2rem)

}

.question img {
    width: 100%
}
</style>
<script>
import ReviewCard from 'components/revisao/ReviewCard.vue';
export default {
  name: 'FazSimulado',
  components: {
    ReviewCard
  },
  props: {
      refEndpoint: { default: '/statics/questions/options.json'},
      res: { default: {}},
      options: { default: []},
      question: { default: {}},
      questionCount: { default: 0},
      questions: {default: []},
      test: {default: true},
      correct: {default: 0},
      wrong: {default: 0},
      toReview: {default: []},
      res: {default: {}}
  },
  created() {
      this.correct = 0
      this.wrong = 0
      this.toReview = []
      console.log(this.refEndpoint)
      fetch("/statics/reference/reference.json")
      .then(res => res.json())
      .then(res => {
        console.log(res)
        this.res = res;
      });

      fetch(this.refEndpoint)
      .then(res => res.json())
      .then(res => {
          res.self.inner.forEach(id => {
              let question = {
                  name: id,
                  options: [
                      res.questions[id].correct,
                      res.questions[id].incorrect1,
                      res.questions[id].incorrect2,
                      res.questions[id].incorrect3,
                  ],
                  subject: res.questions[id].subject,
                  topic: res.questions[id].topic
              }
              this.questions.push(question)
          })
          let ref = res.self.inner[0]
          let question = res.questions[ref]
          firstQuestion(question, ref)
      });
    },
    methods: {
        proxima() {
            let checked = document.querySelector('input[name="option"]:checked')
            if(checked) {
                if(checked.value == 0) {
                    this.correct++
                } else {
                    this.wrong++
                    console.log({
                        subject: this.questions[this.questionCount].subject,
                        topic: this.questions[this.questionCount].topic
                    })
                    this.toReview.push({
                        subject: this.questions[this.questionCount].subject,
                        topic: this.questions[this.questionCount].topic
                    })
                }
                checked.checked = false
                if(this.questionCount >= 3) {
                    this.test = false
                }
                else {
                    this.questionCount++
                    document.querySelector("#NextQuestion").disabled = true
                    this.updateQuestion()
                }
            }
        },
        enable() {
            document.querySelector("#NextQuestion").disabled = false
        },
        updateQuestion() {
            document.querySelector("#Option0").innerHTML = this.questions[this.questionCount].options[0]
            document.querySelector("#Option1").innerHTML = this.questions[this.questionCount].options[1]
            document.querySelector("#Option2").innerHTML = this.questions[this.questionCount].options[2]
            document.querySelector("#Option3").innerHTML = this.questions[this.questionCount].options[3]

            fetch(`/statics/questions/${this.questions[this.questionCount].name}.html`)
            .then(x => 
                x.text().then(text => 
                document.querySelector("#QuestionBody").innerHTML = text
                )
            )
        }
    }
};

let firstQuestion = (question, ref) => {
    document.querySelector("#Option0").innerHTML = question.correct
    document.querySelector("#Option1").innerHTML = question.incorrect1
    document.querySelector("#Option2").innerHTML = question.incorrect2
    document.querySelector("#Option3").innerHTML = question.incorrect3

    fetch(`/statics/questions/${ref}.html`)
    .then(x => 
        x.text().then(text => 
        document.querySelector("#QuestionBody").innerHTML = text
        )
    )
}
</script>