<template>
  <div class="column container-rev">
    <transition-group
      appear
      enter-active-class="animated fadeInUp"
      leave-active-class="animated fadeOutDown"
      class="row items-center justify-around"
    >
      <ReviewCard
        v-for="card in cards"
        :key="card.title"
        :title="card.title"
        :description="card.description"
        :href="card.href"
      />
    </transition-group>
  </div>
</template>
<style>
.container-rev {
  min-height: calc(100vh - 98px);
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
<script>
import ReviewCard from 'components/revisao/ReviewCard.vue';
export default {
  components: {
    ReviewCard
  },
  name: 'Revisão',
  data: () => ({
    cards: null,
    refEndpoint: '/statics/reference/reference.json',
    res: {}
  }),
  created() {
    fetch(this.refEndpoint)
      .then(res => res.json())
      .then(res => {
        let sects = res.FC.self.inner;
        let tempCards = [];
        sects.forEach(sect => {
          tempCards.push({
            title: res.FM[sect].name,
            description: res.FM[sect].about,
            href: 'statics/reference/' + res.FC[sect].src
            //,color: res[sect].self.color
          });
        });
        this.cards = []
        this.cards = tempCards[0]
        this.cards = tempCards[1]
        this.cards = tempCards[4]
        this.cards = tempCards[6]
        this.res = res;
      });
  }
};
</script>