<template>
  <div class="column container-sim">
    <div class="row items-center justify-around q-mt-md">
      <transition-group
        appear
        enter-active-class="animated flipInX"
        leave-active-class="animated flipOutX"
        class="row items-center justify-around"
      >
        <SubjectCard
          class="card-org q-ma-xs"
          v-for="card in cards"
          :key="card.name"
          :cardData="card"
          :href="`/app/simulado/${card.href}`"
        />
      </transition-group>
    </div>
  </div>
</template>

<style scoped>
.card-org {
  max-width: calc(50vw - 1em);
}
.container-sim {
  min-height: calc(100vh - 98px);
  width: 100vw;
  background-color: whitesmoke;
}
</style>

<script>
import SubjectCard from 'components/apostila/SubjectCard.vue';
export default {
  components: {
    SubjectCard
  },
  data: () => ({
    cards: null,
    refEndpoint: '/statics/reference/reference.json'
  }),
  created() {
    this.cards = [
      {
        name: 'Simulado de 4 questões'
      },
      {
        name: 'Simulado de 8 questões'
      },
      {
        name: 'Simulado de 16 questões'
      },
      {
        name: 'Simulado de 32 questões'
      }
    ];
  }
};
</script>