<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="statics/logo.svg" />
          </q-avatar>Reeduca
        </q-toolbar-title>

        <q-btn-dropdown color="primary" class="q-pr-lg">
          <q-list>
            <q-item clickable v-close-popup v-go-back="'/app'">
              <q-item-section>
                <q-item-label>
                  <q-icon name="home" class="q-mr-xs" />Home
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup @click="dumpJson">
              <q-item-section>
                <q-item-label>
                  <q-icon name="arrow_upward" class="q-mr-xs" />Importar Progresso
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup @click="dumpJson">
              <q-item-section>
                <q-item-label>
                  <q-icon name="arrow_downward" class="q-mr-xs" />Salvar Progresso
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </q-toolbar>

      <q-tabs align="center">
        <q-route-tab v-for="tab in tabs" :key="tab.link" :to="tab.link" :label="tab.name" />
      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
var FileSaver = require('file-saver');
export default {
  data: () => ({
    tabs: [
      { name: 'Simulado', link: '/app/simulado' },
      { name: 'Revisão', link: '/app/revisao' },
      { name: 'Apostila', link: '/app/apostila' }
    ]
  }),
  methods: {
    dumpJson: function() {
      let cont = JSON.stringify(this.$store.getters['meta/getData']);
      var blob = new Blob([cont], {
        type: 'application/json;charset=utf-8'
      });
      FileSaver.saveAs(blob, 'registro.json');
    }
  }
};
</script>